.button {
    display: flex;
    align-items: center;
    justify-content: center;
    background: $color-bg-btn;
    background: linear-gradient(175deg, $color-btn-light 0%, $color-btn-dark 100%);   
    box-shadow: 0 4px 8px 0 $color-box-shadow;
    border-radius: 25px;
    font-size: 17px;
    border: none;
    color: $color-white;
    font-weight: 500;
    height: 50px;
    cursor: pointer;

    &:hover {
        background: $color-bc-btn-hover;
        background: linear-gradient(175deg, $color-heart1 0%, $color-heart2 100%);
        box-shadow: 0 4px 8px 0 $color-box-shadow-dark;
    }
}

.ancre {
    color: $color-white;
    text-decoration: none;
}


/* Bouton 'commander' dans les parties restaurants */
.menu-button {
    display: flex;
    justify-content: center;
    margin: 40px 0;
}

.button__command {
    padding: 0 50px;
}