@media screen and (min-width: 992px) {
.section-functioning {

    .functioning__cards {
        display: flex;
        flex-direction: row;

        .card-function {
            
            &__text {
                top: 25px;
            }
        }
    } 
}

.resto-container__imgResto {
    /* déplacer l'image vers le haut */
    
}


.main-resto {
    margin: 0 70px;
}

.restos__title {
    margin-left: 15px;
}

.restos__cards {
display: flex;
flex-wrap: wrap;

.resto-card {
    margin: 15px;
    width: 30%;
}
}

.carte {
    display: flex;
}

.card-menu {
    width: 100%;
    &__description {
        display: flex;
        flex-direction: column;
    }

    .description {
        width: auto;

        &__entitled {
            flex-direction: row;
        }
    }
}

.footer-list {
    padding-right: 100px !important;
}   

}