@media screen and (min-width: 992px) {
    .site {
        margin: auto;
        max-width: 1400px;
        width: calc(100% - 30px);
        //width: 100%;
    }

.section-functioning {
    .functioning__cards {
        display: flex;
        flex-direction: row;

        .card-function {  
            &__text {
                top: 25px;
            }
        }
    } 
}

/*.main-resto {
    border-radius: 50px 50px 0 0;
    position: relative;
    top: -50px;
    height: 100%;
}*/
.resto-header {
    overflow: hidden;
    position: relative;

    .resto-container__imgResto {
        position: absolute;
        top: -150px;
        //height: 150%;
    }
}



.restos__title {
    margin: 20px 0;
}

.restos__cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    
    .resto-card {
        margin: 20px 0;
        width: 30%;
    }
}

.carte {
    display: flex;
}

.card-menu {
    width: 100%;
    &__description {
        display: flex;
        flex-direction: column;
    }

    .description {
        width: auto;

        &__entitled {
            flex-direction: row;
        }

        &:hover {
            .description__entitled__price {
                transform: translateX(-80px);
            }
        }
    }
}

.footer-list {
    padding-right: 100px !important;
}   

}