body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    font-size: 40px;
    color: white;
    text-align: center;
}

.section {
    background-color: teal;
    height: 200px;
    line-height: 200px;
}

.section2 {
    background-color: blueviolet;
}

.section3 {
    background-color: cornflowerblue;
}

.section4 {
    background-color: rosybrown;
}

.loader {
    width: 50px;
    height: 50px;
    display: inline-block;
    vertical-align: middle;
    position: relative;
}

.loader-quart {
    border-radius: 50px;
    border: 6px solid rgba(255, 255, 255, 0.4);

    &:after {
        position: absolute;
        content: '';
        top: -6px;
        left: -6px;
        bottom: -6px;
        right: -6px;
        border: 6px solid transparent;
        border-top-color: white;
        border-radius: 50px;
        animation: spin 5s linear infinite;
    }
}

.loader-double {
    border-radius: 50px;
    border: 6px solid transparent;
    border-top-color: white;
    border-bottom-color: white;
    animation: spin 1s linear infinite;

    &:after {
        position: absolute;
        content: '';
        top: 5px;
        left: 5px;
        bottom: 5px;
        right: 5px;
        border: 6px solid transparent;
        border-top-color: white;
        border-radius: 50px;
        animation: spinreverse 2s linear infinite;
        border-top-color: white;
        border-bottom-color: white;
        opacity: 0.6;
    }
}

.loader-circles {
    border-radius: 50px;
    border: 3px solid transparent;
    border-top-color: white;
    animation: spin 1s linear infinite;

    &:after {
        position: absolute;
        content: '';
        top: 5px;
        left: 5px;
        bottom: 5px;
        right: 5px;
        border: 3px solid transparent;
        border-top-color: white;
        border-radius: 50px;
        animation: spin 5s linear infinite;
        border-top-color: white;
        opacity: 0.8;
    }

    &:before {
        position: absolute;
        content: '';
        top: 12px;
        left: 12px;
        bottom: 12px;
        right: 12px;
        border: 3px solid transparent;
        border-top-color: white;
        border-radius: 50px;
        animation: spin 10s linear infinite;
        border-top-color: white;
        opacity: 0.5;
    }
}

.loader-bars {
    width: 10px;
    height: 30px;
    background-color: #fff;
    animation: grow 1s linear infinite;
}



@keyframes spin{
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes spinreverse {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(-360deg);
    }
}

@keyframes grow {
    0% {
        transform: scaleY(0);
        opacity: 0;
    }
    100% {
        transform: scaleY(1);
        opacity: 1;
    }
}