

/* Logo */
.conteneur {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px 0 15px 0;
}

.logo {
    height: 35px;
}

/* Barre de recherche */
.form_conteneur {
    display: flex;
    justify-content: center;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.recherche {
    font-size: 19px;
    font-weight: bold;
    width: 200px;
    height: 50px;
    border: none;
}

.position {
    height: 50px;
    padding: 0 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.fa-location-dot {
    font-size: 19px;
}
