.navbar__arrow {
    position: absolute;
    top: 25px;
}

.fa-arrow-left {
    font-size: 20px;
}

/* HEADER */
.resto-container__imgResto {
    width: 100%;
}

/* CARD */
.section-header {
    display: flex;
    justify-content: space-between;
}

.starResto {
    padding-right: 30px;
    padding-top: 20px;
}

.carte {
    animation: apparition 1s ease-out;
}

.card-menu__header {
    position: relative;
    &::before {
        content: "";
        position: absolute;
        bottom: -10px;
        left: 0; 
        width: 50px;
        height: 4px;
        background-color: #99e2d0;  
    }
}

.card-menu__title {
    font-weight: 300;
}

.description {
    border-radius: 20px;
    padding-left: 15px;
    margin: 20px 0;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    display: flex;
    justify-content: space-between;
    width: auto;

    .descritpion-menu {
        width: 80%;
    }    

    &__title {
        margin: 15px 0 0 0;
        font-size: 20px;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
    }
    &__entitled {
        margin: 0 0 15px 0;
        display: flex;
        flex-direction: row;
        align-items: baseline;
        justify-content: space-between;
        border-radius: 20px;
        

        &__text {
            margin: 5px 0;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
        }

        &__price {
            font-weight: 700;
            margin: 5px 0;
            /*&:hover {
                animation: validation 1s;
            }*/
            
        }
    }

    /*&:hover + .check {
        transform: translate(100%, 0);
    }*/

    .check {
        display: none;
        /*background-color: #99e2d0;
        height: auto;
        width: 80px;
        border-radius: 0 20px 20px 0;
        display: flex;
        align-items: center;
        justify-content: center;*/
    }
    &:hover {
        .check {
            display: block;
            background-color: #99e2d0;
            height: auto;
            width: 80px;
            border-radius: 0 20px 20px 0;
            display: flex;
            align-items: center;
            justify-content: center;
            transition: transform 0.5s ease-out;
            animation: validation 1s;

            &__btn {
                border-radius: 50%;
                border: none;
                background-color: white;
            }
        }
        .fa-check {
            font-size: 20px;
            transform: rotate(360deg);
            transition: 0.4s ease-in-out;
        }
    }
    /*.fa-check {
        color: #99e2d0;
        padding: 5px;
        background-color: #fff;
        border-radius: 50%;
    }

    .check__btn {
        height: 100%;
        width: 80px;
        border-radius: 0 20px 20px 0;
        display: flex;
        align-items: center;
        justify-content: center;
        border: none;
        background: linear-gradient(to left, #99e2d0 100%, #fff 50%);
        background-size: 100% 100%;
        background-position: left;
        transition: all 0.5s ease-out;

        &:hover {
            background-position: right;
            background-size: 100% 100%;
        }
    }*/
}


/*.btn {
    &:hover + .box {
        transform: scale(1);
        span {
            transform: translateY(0);
        }
    }
}
.box {
    width: 100px;
    height: 100px;
    transform: scale(0.1);
    transition: transform 330ms ease-in-out;
    overflow: hidden;
    span {
        display: inline-block;
        transform: translateY(250%);
        transition: transform 280ms ease-out 50ms;
    }
}
.btn {
    &:hover + .boxes {
        & > .boxes--rotDegrees {
            transform: rotate(0deg);
        }
        & > .boxes--rotTurns {
             transform: rotate(0turn);
        }
    }
}
.boxes {
    &--rotDegrees {
        background: green;
         transform: rotate(-360deg);
         transition: transform 500ms ease-out;
     }
 
     &--rotTurns {
         background: pink;
         transform: rotate(-1turn);
         transition: transform 500ms ease-in;
     }
 }

 .btn1 {
    &:active {
        & + .progress {
            & > .progress__bar {
                transform: scaleX(1);
            }
        }
    }
 }
.progress {
    &__bar {
        transform-origin: 0% 50%;
        transform: scaleX(0);
        transition: transform 1000ms;
    }
}*/

/* Partie valiadation verte dans l'intitulé du plat */
@keyframes validation {
    0% {
        transform: translateX(100px);
        opacity: 0;
    }
    
    100% {
        transform: translateX(0px);
        opacity: 1;
    }
}

/* Partie menu */
@keyframes apparition {
    0% {
        transform: translateY(100px);
        opacity: 0;
    }
    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}






.menu-button {
    display: flex;
    justify-content: center;
    margin: 40px 0;
}

.button__command {
    padding: 0 50px;
}

.coeur {
    padding-right: 30px;
}

.section-restos {
    padding: 10px 20px;
    z-index: 900;
    position: relative;
}