.navbar__arrow {
    position: absolute;
    top: 25px;
}

.fa-arrow-left {
    font-size: 20px;
}

/* HEADER */
.resto-container__imgResto {
    width: 100%;
}

/* CARD */
.section-header {
    display: flex;
    justify-content: space-between;
}

.starResto {
    padding-right: 30px;
    padding-top: 20px;
}

/* Menu de la carte */ 
.carte {
    animation: apparition 1s ease-out;
}

.card-menu {
    margin-bottom: 50px;
}

.card-menu__header {
    position: relative;
    &::before {
        content: "";
        position: absolute;
        bottom: -10px;
        left: 0; 
        width: 50px;
        height: 4px;
        background-color: #99e2d0;  
    }
}

.card-menu__title {
    font-weight: 300;
}

/* Entrée, plat, dessert */
.description {
    position: relative;
    border-radius: 20px;
    padding: 0 15px;
    margin: 20px 0;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    display: flex;
    justify-content: space-between;
    width: auto;
    overflow: hidden;
    //transition: 1s linear ;

    .description-menu {
        width: calc(100% - 30px);
        transition: linear .5s; 
    }    

    &__title {
        margin: 15px 0 0 0;
        font-size: 20px;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
    }

    &__text {
        padding-left: 5px;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
    }

    .validation {
        position: absolute;
        height: 100%;
        //left: calc(100% - 30px);
        left: calc(100% - 40px);
        //transform: translateX(70px);
        //transition: linear .5s;
        //width: calc(80px + 60px);
        width: calc(30px + 80px);
        display: flex;
        align-items: center;
        justify-content: center;
        //background-color: red;
        transition: linear .5s; 

        .check__price {
            font-weight: 700;
            //padding-right: 30px;
            //transform: translateX(0px);
            //transition: 1s linear;
            width: 30px;
            //height: 100%;
            margin: 0;
            //padding: 0;
            padding-right: 13px;
            //background-color: blue;
            //color: white;
            
        }
        .check {
            //position: absolute;
            //top: 0;
            //right: 0;
            //transform: translateX(80px);
            background-color: #99e2d0;
            height: 100%;
            //width: 110px;
            width:80px;
            border-radius: 0 20px 20px 0;
            display: flex;
            align-items: center;
            justify-content: center;
            transition: 1s linear;

            &__btn {
                border-radius: 50%;
                border: none;
                background-color: white;

                .fa-check {
                    font-size: 20px;
                    transition: ease-in-out .9s;
                }
            }
        }    
    }

    
    &:hover {
        .description-menu {
            //font-size: 20px;
            //transition: ease-in-out .5s;
            width: calc(100% - 110px);
        }

        .validation {
            left: calc(100% - 110px);
        }

        
        /*.check__price {
            transform: translateX(-80px);
        }*/

        .check {
            /*display: block;
            transition: transform 0.5s ease-out;
            animation: validation 1s forwards;*/
            transform: translateX(0px);
        }

        .fa-check {
            transform: rotate(-360deg);
            transition: ease-in-out .8s .3s;
        }
    }
}

.input_card {
    display: none;
}

.input_card:checked + .description {
    /*.check {
        transform: translateX(0px); 
    }*/
    .description {
        &__title {
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
        }

        &__text {
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
        }
    }

    .description-menu {
        width: calc(100% - 110px);
    }

    .validation {
        left: calc(100% - 110px);
        //transform: translateX(-10px);
    }
    .fa-check { 
        transform: rotate(360deg); 
        transition: ease-in-out .5s .5s ; 
    } 
}
    


/* Partie menu */
@keyframes apparition {
    0% {
        transform: translateY(100px);
        opacity: 0;
    }
    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}






.menu-button {
    display: flex;
    justify-content: center;
    margin: 40px 0;
}

.button__command {
    padding: 0 50px;
}

.coeur {
    padding-right: 30px;
}

.section-restos {
    padding: 10px 20px;
    z-index: 900;
    position: relative;
}