.section-loader {
    background-color: #f5edff;
    height: 100%;
    width: 100%;
    line-height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #9356DC;
    font-size: 40px;
    cursor: wait;
    z-index: 9000;
    position: fixed;
    left: 0;
    top: 0;
    animation: 2s opaque forwards;
}

.loader {
    width: 50px;
    height: 50px;
    margin-right: 40px;
    display: inline-block;
    vertical-align: middle;
    position: relative;
    border-radius: 50px; // pour faire le cercle
    border: 6px solid rgba(255, 255, 255, 0.4); // mise en page du cercle

    &:after {
        position: absolute;
        content: '';
        top: -6px;
        left: -6px;
        bottom: -6px;
        right: -6px;
        border: 6px solid transparent;
        border-top-color: #9356DC;
        border-radius: 50px;
        animation: spin 2s linear infinite;
    }
}

@keyframes spin{
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes opaque {
    0% {
        opacity: 1;
    }
    90% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        visibility: hidden;
    }
}