.footer {
    padding: 30px;

    .footer-container__logo {
        height: 30px;
        * {
            fill: $color-white;
        }
    }

    .footer-list {
        padding: 0;

        &__item {
            list-style-type: none;
            padding: 5px;
        }
        &__lien {
            text-decoration: none;
    
            &--espace {
                padding-left: 5px;
            }
        }
    }  
}


/* TABLETTE */
@media screen and (min-width: 768px) {
    .footer-list {
        display: flex;
        justify-content: space-between;
    }   
}


/* ORDINATEUR */
@media screen and (min-width: 992px) {
    .footer-list {
        padding-right: 100px !important;
    } 
}